.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px none #000; 
    background-color: #FFFFFF;
    box-shadow: 0 6px 8px -6px rgb(20 23 26 / 6%), 0 8px 16px -6px rgb(20 23 26 / 4%);
    padding: 25px 20px;
  }